In [161]:
import numpy as np 
import pandas as pd
from IPython.display import display

print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"mpg.csv")

#display(mpg_df)
#display(mpg_df.describe())
#display(mpg_df.info())

mpg_df.groupby('model_year')['weight'].mean()
mpg_df.groupby('model_year')[['weight', 'mpg']].mean()
#mpg_df.groupby('model_year')[['weight', 'mpg']].mean().reset_index()
mpg_df.groupby('model_year')[['weight', 'mpg']].mean().rename(columns={'weight': 'mean_weight', 'mpg':'mean_mpg'})
mpg_df.groupby('model_year')[['weight', 'mpg']].mean().rename(columns={'weight': 'mean_weight', 'mpg':'mean_mpg'})
mpg_df.groupby('model_year')['weight'].mean().sort_values()

# mpg_df.groupby('model_year')['horsepower'].mean().sort_values() # error
mpg_df['horsepower'] = pd.to_numeric(mpg_df['horsepower'], errors='coerce')
#mpg_df.info()

mpg_df.groupby('model_year')[['horsepower', 'weight']].mean().sort_values(by='weight')

mpg_df.groupby('model_year')[['horsepower']].value_counts()  # how many ikn group + same horsepower, i.e. 70 8
mpg_df.groupby('model_year')['model_year'].value_counts()  # how many in each group?

mpg_df.groupby('model_year')['horsepower'].nlargest(5)

mpg_df.groupby('model_year')[['horsepower']].value_counts()

mpg_df.groupby('model_year').max()
mpg_df.groupby('model_year').min()
#mpg_df.groupby('model_year').mean()

# dropping name column and then mean -- all columns must be numeric for mean
display(mpg_df.groupby('model_year')[mpg_df.columns.difference(['name'])].mean())

print(mpg_df.groupby('model_year').max()['mpg'])

print(mpg_df.groupby('model_year').max().loc[74])

mpg_df.groupby('model_year')['horsepower'].nlargest(5)

========== read mpg miles per gallon data on cars =======================

,acceleration,cylinders,displacement,horsepower,model_year,mpg,origin,weight
model_year,,,,,,,,
70,12.948276,6.758621,281.413793,147.827586,70.0,17.689655,1.310345,3372.793103
71,15.142857,5.571429,209.750000,107.037037,71.0,21.250000,1.428571,2995.428571
72,15.125000,5.821429,218.375000,120.178571,72.0,18.714286,1.535714,3237.714286
73,14.312500,6.375000,256.875000,130.475000,73.0,17.100000,1.375000,3419.025000
74,16.203704,5.259259,171.740741,94.230769,74.0,22.703704,1.666667,2877.925926
75,16.050000,5.600000,205.533333,101.066667,75.0,20.266667,1.466667,3176.800000
76,15.941176,5.647059,197.794118,101.117647,76.0,21.573529,1.470588,3078.735294
77,15.435714,5.464286,191.392857,105.071429,77.0,23.375000,1.571429,2997.357143
78,15.805556,5.361111,177.805556,99.694444,78.0,24.061111,1.611111,2861.805556
79,15.813793,5.827586,206.689655,101.206897,79.0,25.093103,1.275862,3055.344828
80,16.934483,4.137931,115.827586,77.481481,80.0,33.696552,2.206897,2436.655172
81,16.306897,4.620690,135.310345,81.035714,81.0,30.334483,1.965517,2522.931034
82,16.638710,4.193548,128.870968,81.466667,82.0,31.709677,1.645161,2453.548387

model_year
70    27.0
71    35.0
72    28.0
73    29.0
74    32.0
75    33.0
76    33.0
77    36.0
78    43.1
79    37.3
80    46.6
81    39.1
82    44.0
Name: mpg, dtype: float64
mpg                          32.0
cylinders                       8
displacement                350.0
horsepower                  150.0
weight                       4699
acceleration                 21.0
origin                          3
name            volkswagen dasher
Name: 74, dtype: object

model_year
70          8      225.0
            13     225.0
            6      220.0
            7      215.0
            25     215.0
                   ...
82          389    112.0
            386    110.0
            390     96.0
            373     92.0
            388     92.0
Name: horsepower, Length: 65, dtype: float64

In [111]:
print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"mpg.csv")

# mpg_df.groupby('model_year')['horsepower'].mean().sort_values() # error
mpg_df['horsepower'] = pd.to_numeric(mpg_df['horsepower'], errors='coerce')
#mpg_df[['model_year', 'cylinders','horsepower']].groupby(['model_year', 'cylinders','horsepower']).value_counts()
mpg_df[['model_year', 'cylinders']].groupby(['model_year', 'cylinders']).value_counts()

mpg_df.groupby(['model_year', 'cylinders']).max().sort_values(by = 'horsepower')
mpg_df.groupby(['model_year', 'cylinders']).max()

# loc  -- index value
# iloc -- index number
# index age
#  a    1  
#  b    2
#  c    3
#  loc['a'] --> a 1
# iloc[0]   --> a 1
display(mpg_df.groupby(['model_year', 'cylinders']).max().loc[(70, 6)])
display(mpg_df.groupby(['model_year', 'cylinders']).max().loc[(70, 6):(70,8)])
display(mpg_df.groupby(['model_year', 'cylinders']).max().iloc[0:2])
#display(mpg_df.groupby(['model_year', 'cylinders']).max().iloc[0:2, 0:2])
display(mpg_df.groupby(['model_year', 'cylinders']).max())

========== read mpg miles per gallon data on cars =======================

mpg                        22.0
displacement              200.0
horsepower                 97.0
weight                     2833
acceleration               16.0
origin                        1
name            plymouth duster
Name: (70, 6), dtype: object

                       mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         6          22.0         200.0        97.0    2833          16.0
           8          18.0         455.0       225.0    4732          18.5

                      origin              name
model_year cylinders
70         6               1   plymouth duster
           8               1  pontiac catalina

                       mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         4          27.0         121.0       113.0    2672          20.5
           6          22.0         200.0        97.0    2833          16.0

                      origin                          name
model_year cylinders
70         4               3  volkswagen 1131 deluxe sedan
           6               1               plymouth duster

                       mpg  displacement  horsepower  weight  acceleration  \
model_year cylinders
70         4          27.0         121.0       113.0    2672          20.5
           6          22.0         200.0        97.0    2833          16.0
           8          18.0         455.0       225.0    4732          18.5
71         4          35.0         140.0        95.0    2408          20.5
           6          19.0         258.0       110.0    3439          15.5
           8          14.0         400.0       180.0    5140          13.5
72         3          19.0          70.0        97.0    2330          13.5
           4          28.0         140.0       112.0    2979          23.5
           8          17.0         429.0       208.0    4633          16.0
73         3          18.0          70.0        90.0    2124          13.5
           4          29.0         140.0       112.0    2868          21.0
           6          23.0         250.0       122.0    3278          18.0
           8          16.0         455.0       230.0    4997          14.5
74         4          32.0         140.0        97.0    2542          21.0
           6          21.0         258.0       110.0    3781          18.0
           8          16.0         350.0       150.0    4699          16.0
75         4          33.0         140.0       115.0    2957          18.5
           6          21.0         258.0       110.0    3907          21.0
           8          20.0         400.0       170.0    4668          14.5
76         4          33.0         140.0       102.0    3270          22.2
           6          24.0         258.0       120.0    3820          21.0
           8          17.5         351.0       180.0    4380          15.0
77         3          21.5          80.0       110.0    2720          13.5
           4          36.0         151.0       110.0    2755          18.6
           6          22.0         250.0       110.0    3630          19.0
           8          17.5         400.0       190.0    4335          19.0
78         4          43.1         156.0       115.0    2855          21.5
           5          20.3         131.0       103.0    2830          15.9
           6          20.8         258.0       165.0    3620          19.2
           8          20.2         318.0       145.0    4080          15.5
79         4          37.3         151.0        90.0    3190          24.8
           5          25.4         183.0        77.0    3530          20.1
           6          28.8         232.0       115.0    3360          18.2
           8          23.9         360.0       155.0    4360          22.2
80         3          23.7          70.0       100.0    2420          12.5
           4          46.6         156.0       105.0    3250          23.7
           5          36.4         121.0        67.0    2950          19.9
           6          32.7         225.0       132.0    3381          18.7
81         4          39.1         156.0       100.0    3230          20.7
           6          30.7         231.0       120.0    3465          19.6
           8          26.6         350.0       105.0    3725          19.0
82         4          44.0         156.0        96.0    3035          24.6
           6          38.0         262.0       112.0    3015          17.0

                      origin                               name
model_year cylinders
70         4               3       volkswagen 1131 deluxe sedan
           6               1                    plymouth duster
           8               1                   pontiac catalina
71         4               3               volkswagen model 111
           6               1                   pontiac firebird
           8               1                pontiac safari (sw)
72         3               3                    mazda rx2 coupe
           4               3                    volvo 145e (sw)
           8               1                   pontiac catalina
73         3               3                          maxda rx3
           4               3                        volvo 144ea
           6               3                     toyota mark ii
           8               1                 pontiac grand prix
74         4               3                  volkswagen dasher
           6               1         plymouth satellite sebring
           8               1              ford gran torino (sw)
75         4               3                        volvo 244dl
           6               1            plymouth valiant custom
           8               1                   pontiac catalina
76         4               3                          vw rabbit
           6               3                     toyota mark ii
           8               1         plymouth volare premier v8
77         3               3                         mazda rx-4
           4               3           volkswagen rabbit custom
           6               3             plymouth volare custom
           8               1              pontiac grand prix lj
78         4               3                volkswagen scirocco
           5               2                          audi 5000
           6               2                        volvo 264gl
           8               1  oldsmobile cutlass salon brougham
79         4               3                   vw rabbit custom
           5               2                 mercedes benz 300d
           6               1                  pontiac lemans v6
           8               1  oldsmobile cutlass salon brougham
80         3               3                      mazda rx-7 gs
           4               3               vw rabbit c (diesel)
           5               2                audi 5000s (diesel)
           6               3                        dodge aspen
81         4               3                   volkswagen jetta
           6               3                       volvo diesel
           8               1              oldsmobile cutlass ls
82         4               3                          vw pickup
           6               1  oldsmobile cutlass ciera (diesel)

In [133]:
print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"mpg.csv")

#mpg_df['horsepower'] = pd.to_numeric(mpg_df['horsepower'], errors='coerce')
mpg_df.groupby(['model_year', 'cylinders']).max(numeric_only=True).xs(level='cylinders', key=8).reset_index()  # [0 1] [1 0], [0 1 2] [2 0 1]
mpg_df.groupby(['model_year', 'cylinders']).max(numeric_only=True).xs(level='cylinders', key=6).reset_index()
'''
  when you use .xs(level='cylinders', key=8), it removes the cylinders level from the index in the result. 
  Even after resetting the index, the cylinders information is no longer available unless explicitly re-added.
'''
#result['cylinders'] = 8
#result

========== read mpg miles per gallon data on cars =======================

"\n  when you use .xs(level='cylinders', key=8), it removes the cylinders level from the index in the result. \n  Even after resetting the index, the cylinders information is no longer available unless explicitly re-added.\n"

In [140]:
print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"mpg.csv")

# the filter should be commited before the gourp by
mpg_df[mpg_df['cylinders'] == 8].groupby(['model_year', 'cylinders']).max(numeric_only=True)
mpg_df[mpg_df['cylinders'].isin([6, 8])].groupby(['model_year', 'cylinders']).max(numeric_only=True)
mpg_df[~mpg_df['model_year'].isin([72])].groupby(['model_year', 'cylinders']).max(numeric_only=True)

========== read mpg miles per gallon data on cars =======================

                       mpg  displacement  weight  acceleration  origin
model_year cylinders
70         4          27.0         121.0    2672          20.5       3
           6          22.0         200.0    2833          16.0       1
           8          18.0         455.0    4732          18.5       1
71         4          35.0         140.0    2408          20.5       3
           6          19.0         258.0    3439          15.5       1
           8          14.0         400.0    5140          13.5       1
73         3          18.0          70.0    2124          13.5       3
           4          29.0         140.0    2868          21.0       3
           6          23.0         250.0    3278          18.0       3
           8          16.0         455.0    4997          14.5       1
74         4          32.0         140.0    2542          21.0       3
           6          21.0         258.0    3781          18.0       1
           8          16.0         350.0    4699          16.0       1
75         4          33.0         140.0    2957          18.5       3
           6          21.0         258.0    3907          21.0       1
           8          20.0         400.0    4668          14.5       1
76         4          33.0         140.0    3270          22.2       3
           6          24.0         258.0    3820          21.0       3
           8          17.5         351.0    4380          15.0       1
77         3          21.5          80.0    2720          13.5       3
           4          36.0         151.0    2755          18.6       3
           6          22.0         250.0    3630          19.0       3
           8          17.5         400.0    4335          19.0       1
78         4          43.1         156.0    2855          21.5       3
           5          20.3         131.0    2830          15.9       2
           6          20.8         258.0    3620          19.2       2
           8          20.2         318.0    4080          15.5       1
79         4          37.3         151.0    3190          24.8       3
           5          25.4         183.0    3530          20.1       2
           6          28.8         232.0    3360          18.2       1
           8          23.9         360.0    4360          22.2       1
80         3          23.7          70.0    2420          12.5       3
           4          46.6         156.0    3250          23.7       3
           5          36.4         121.0    2950          19.9       2
           6          32.7         225.0    3381          18.7       3
81         4          39.1         156.0    3230          20.7       3
           6          30.7         231.0    3465          19.6       3
           8          26.6         350.0    3725          19.0       1
82         4          44.0         156.0    3035          24.6       3
           6          38.0         262.0    3015          17.0       1

In [160]:
print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"mpg.csv")

# the filter should be commited before the gourp by
mpg_df.groupby(['model_year', 'cylinders']).max(numeric_only=True).swaplevel().sort_values(['cylinders', 'model_year'])
mpg_df.groupby(['cylinders', 'model_year']).max(numeric_only=True).sort_index()
mpg_df.groupby(['model_year', 'cylinders']).max(numeric_only=True).swaplevel().sort_index()  # better
mpg_df.groupby(['model_year', 'cylinders']).max(numeric_only=True).swaplevel().iloc[:6]

mpg_df.groupby(['model_year', 'cylinders']).max(numeric_only=True).swaplevel().sort_index(level=['cylinders', 'model_year'],\
                                                                                         ascending=[True, False])  # better

========== read mpg miles per gallon data on cars =======================

                       mpg  displacement  weight  acceleration  origin
cylinders model_year
3         80          23.7          70.0    2420          12.5       3
          77          21.5          80.0    2720          13.5       3
          73          18.0          70.0    2124          13.5       3
          72          19.0          70.0    2330          13.5       3
4         82          44.0         156.0    3035          24.6       3
          81          39.1         156.0    3230          20.7       3
          80          46.6         156.0    3250          23.7       3
          79          37.3         151.0    3190          24.8       3
          78          43.1         156.0    2855          21.5       3
          77          36.0         151.0    2755          18.6       3
          76          33.0         140.0    3270          22.2       3
          75          33.0         140.0    2957          18.5       3
          74          32.0         140.0    2542          21.0       3
          73          29.0         140.0    2868          21.0       3
          72          28.0         140.0    2979          23.5       3
          71          35.0         140.0    2408          20.5       3
          70          27.0         121.0    2672          20.5       3
5         80          36.4         121.0    2950          19.9       2
          79          25.4         183.0    3530          20.1       2
          78          20.3         131.0    2830          15.9       2
6         82          38.0         262.0    3015          17.0       1
          81          30.7         231.0    3465          19.6       3
          80          32.7         225.0    3381          18.7       3
          79          28.8         232.0    3360          18.2       1
          78          20.8         258.0    3620          19.2       2
          77          22.0         250.0    3630          19.0       3
          76          24.0         258.0    3820          21.0       3
          75          21.0         258.0    3907          21.0       1
          74          21.0         258.0    3781          18.0       1
          73          23.0         250.0    3278          18.0       3
          71          19.0         258.0    3439          15.5       1
          70          22.0         200.0    2833          16.0       1
8         81          26.6         350.0    3725          19.0       1
          79          23.9         360.0    4360          22.2       1
          78          20.2         318.0    4080          15.5       1
          77          17.5         400.0    4335          19.0       1
          76          17.5         351.0    4380          15.0       1
          75          20.0         400.0    4668          14.5       1
          74          16.0         350.0    4699          16.0       1
          73          16.0         455.0    4997          14.5       1
          72          17.0         429.0    4633          16.0       1
          71          14.0         400.0    5140          13.5       1
          70          18.0         455.0    4732          18.5       1

In [178]:
print('========== read mpg miles per gallon data on cars =======================')
mpg_df = pd.read_csv(r"mpg.csv")

mpg_mean = mpg_df['mpg'].mean()
weight_mean = mpg_df['weight'].mean()
mpg_max = mpg_df['mpg'].max()
weight_std = mpg_df['weight'].std()

print(mpg_mean)
print(weight_mean)
print(mpg_max)
print(weight_std)

columns = ['stats', 'mpg', 'weight']
data = [
    ['max', mpg_max, None],
    ['mean', mpg_mean, weight_mean],
    ['std', None, weight_std]
]

stats_df = pd.DataFrame(data=data, columns=columns)
display(stats_df)

#display(mpg_df.agg({'mpg': ['max', 'mean', 'min'], 'weight': ['std', 'mean']}).transpose())

# before-- 
# 1 agg function
# mpg_df.groupby(['cylinders', 'model_year']).max(numeric_only=True)
# multiple agg functions on each column ...
mpg_df.groupby(['cylinders', 'model_year']).agg({'weight': ['max', 'min'], 'mpg': 'mean', 'horsepower': 'min'})

========== read mpg miles per gallon data on cars =======================
23.514572864321607
2970.424623115578
46.6
846.8417741973271

  stats        mpg       weight
0   max  46.600000          NaN
1  mean  23.514573  2970.424623
2   std        NaN   846.841774

         max         mean  min         std
mpg     46.6    23.514573  9.0         NaN
weight   NaN  2970.424623  NaN  846.841774

                     weight              mpg horsepower
                        max   min       mean        min
cylinders model_year
3         72           2330  2330  19.000000         97
          73           2124  2124  18.000000         90
          77           2720  2720  21.500000        110
          80           2420  2420  23.700000        100
4         70           2672  1835  25.285714        113
          71           2408  1613  27.461538         60
          72           2979  2100  23.428571        112
          73           2868  1867  22.727273        110
          74           2542  1649  27.800000         52
          75           2957  1795  25.250000        115
          76           3270  1795  26.766667        102
          77           2755  1825  29.107143        110
          78           2855  1800  29.576471        105
          79           3190  1915  31.525000         65
          80           3250  1835  34.612000        105
          81           3230  1755  32.814286        100
          82           3035  1965  32.071429         52
5         78           2830  2830  20.300000        103
          79           3530  3530  25.400000         77
          80           2950  2950  36.400000         67
6         70           2833  2587  20.500000         85
          71           3439  2634  18.000000        100
          73           3278  2472  19.000000        100
          74           3781  2875  17.857143        100
          75           3907  2914  17.583333        100
          76           3820  2930  20.000000        100
          77           3630  2815  19.500000        100
          78           3620  2965  19.066667        100
          79           3360  2595  22.950000        110
          80           3381  2910  25.900000        132
          81           3465  2725  23.428571        110
          82           3015  2835  28.333333        110
8         70           4732  3086  14.111111        130
          71           5140  4096  13.428571        150
          72           4633  3672  13.615385        130
          73           4997  3399  13.200000        137
          74           4699  4141  14.200000        140
          75           4668  3169  15.666667        110
          76           4380  3755  14.666667        120
          77           4335  3880  16.000000        110
          78           4080  3205  19.050000        110
          79           4360  3420  18.630000        125
          81           3725  3725  26.600000        105

In [191]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

# display(df1)
# display(df2)

display(pd.concat([df1, df2], axis=0))  
#display(pd.concat([df1, df2], axis=1))  # index should be the same

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

# targil1. 
Create a multi-index DataFrame with the first index as 'mpg' and the second index as 'cylinders'.2. 
Show for each group of 'mpg' and 'cylinders' the max value in the group for each numeric column3. .
Once created, show a new DataFrame containing only the cylinders with 5, 6, 7, 8 values and all the 'mpg' groups for each valu4. e.
Create a statistics DataFrame containing min, max, std, and mean for the columns 'mpg', 'cylinders', 'weight', and 'displacement'.